<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>

<h1>Let's play a game!</h1>
    <form action="/madlib">
        <div>Give me a name: <input type="text" name="name"></div>
        <div>Pick a color:
            <select name="color">
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="solidGOLD">solidGOLD</option>
            </select></div>
        <div>Give me a noun: <input type="text" name="noun"></div>
        <div>Pick an adjective:
            <select name="adjective">
                <option value="funky">Funky</option>
                <option value="sparkly">Sparkly</option>
                <option value="smelly">Smelly</option>
                <option value="fabulous">Fabulous</option>
            </select></div>
        <div>Pick some more adjectives:
            <input type="checkbox" name="adject2" value="bombastic">Bombastic
            <input type="checkbox" name="adject2" value="grandiose">Grandiose
            <input type="checkbox" name="adject2" value="delicate">Delicate
            <input type="checkbox" name="adject2" value="livid">Livid</div>
        <input type="submit">
        </form>
</body>
</html>
